.repository-with-sidebar .repository-content {
    float: left;
    width: 920px
}

.repository-with-sidebar.with-full-navigation .repository-content {
    width: 790px
}

.repository-with-sidebar.with-full-navigation .repository-sidebar {
    width: 170px
}
