.repository-with-sidebar .repository-content {
    float: left;
    width: 94%; /* 920px / 980px */
}

.repository-with-sidebar.with-full-navigation .repository-content {
    width: 81%; /* 790px / 980px */
}

.repository-with-sidebar.with-full-navigation .repository-sidebar {
    width: 17%; /* 170px / 980px */
}
